footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
}
